@font-face {
    font-family: Darumadrop;
    src: url('./styles/DarumadropOne-Regular.ttf');
  }
  
  body {
    margin: 0;
    font-family: Darumadrop;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 50vw;
    margin-left: 10px;
    position: relative;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  